<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:annotation-config/>
    <context:component-scan base-package="base.package"/>
    <bean id="obj" class="Bean.Student">
    	<property name="id" value="1000"/>
    	<property name="name" value="Ram"/>
    	<property name="marks" value="80"/>
    	<property name="rooms">
    		<set>
    			<value>101</value>
    			<value>102</value>
    		</set>
    	</property>
    	<property name="subjects">
    		<list>
    			<value>Java</value>
    			<value>Python</value>
    			<value>Ruby</value>
    		</list>
    	</property>
    	<!-- <constructor-arg value="8080"/>
    	<constructor-arg value="Ash"/>
    	<constructor-arg value="90"/>
    	Values are injected through the constructor instead of setter methods. -->
    </bean>
    <bean id="obj1" class="Bean.College">
    	<!-- <property name="cid" value="1010"/>
    	<property name="cname" value="sam"/>
    	<property name="cloc" value="well"/>
    	<property name="s" ref="obj"/> -->
    	<constructor-arg value="2020"/>
    	<constructor-arg value="sam"/>
    	<constructor-arg value="hill"/>
    	<constructor-arg>
    		<ref bean="obj"/>
    	</constructor-arg>
    	<constructor-arg>
    		<map>
    			<entry key="201" value="HF1"/>
    			<entry key="202" value="JS3"/>
    		</map>
    	</constructor-arg>
    </bean>
</beans>